@import url('https://fonts.googleapis.com/css2?family=Poppons:wght@400;500;600;700;800&display=wap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #8f8f8f;
}

img{
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.Logo {
    max-width: 50px;
}

.header {
    background-image: url(images/Fachada.jpg);
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #46f3ff;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #5afff7;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.header-txt {
    flex-basis: 50%;
}

.header-txt h1 {
    font-size: 60px;
    color: #979797;
    line-height: 1.3;
    margin-bottom: 25px;
}

.header-txt span {
    color: #46f3ff;
}

.header-txt p  {
    font-size: 17px;
    color: #dfdfdf;
    margin-bottom: 45PX;
}

.buttons {
    display: flex;
}

.btn-1, .btn-2, .btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid #46f3ff;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 17px;
    color: #ffffff;

}

.btn-1:hover, .btn-2:hover {
    background-color: #5afff7;
}

.popular {

padding: 100px 0;
text-align: center;
}

h2 {
    color: #5afff7;
    font-size: 35px;
    margin-bottom: 45px;
}

.P1 {
    color: #ffffff;
}



.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product-1 {
    background-color: #2392c5;
}

.product-txt {
    padding: 50px 30px;
}

h3 {
    font-size: 20px;
    color: #46f3ff;
    margin-bottom: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 17px;
    color: #46f3ff;
}

.btn-2 {
    padding: 5px 25px;
    background-color: #46f3ff;
    margin-right: 0;
}

.contact {
    padding: 150 px 300px;
}

.contact-content {
    background-color: #3d59fa;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 80px;
    background-color: #3F3456;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: #ffffff;
    font-size: 17px;
}

::placeholder {
    color: #E0E0E0;
    font-size: 17px;
}

.btn-3 {
    background-color: #52e8fc;
    cursor: pointer;
    margin-right: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 50px 0;
}


.link ul {
    display: flex;
}

.link ul li >a {
    font-size: 17px;
    color: #ffffff;
    margin-right: 20px;
}

.link ul li >a:hover {
    color: #2cf8ff;
}

@media(max-width:991px) {

    .menu {
        padding: 20px;
    }
    
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #5bc7f1;
        display: none;
    }

    .menu .navhab ul li a:hover {
        color: #1b1726;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header { 
        min-height: 0vh;
        padding: 80px 30px 5opx 30px;
    }

    .header-txt {
        text-align: center;
        flex-basis: 100%;
    }

    .header-txt h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }
    
    .buttons {
        justify-content: center;
    }

    .btn-1:last-of-type {
        margin-right: 0;
    }

    .popular {
        display: none;
    }

    .product {
        padding: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }

    .product-1 img {
        width: 100;
    }

    .contact {
        padding: 30px;
    }

    form {
        flex-direction: column;
    }

    input {
        margin: 0 0 20px 0;
    }
    
    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .link ul {
        margin-top: 20px;
    }
}